/* utili */
body,
figure {
  margin: 0;
}
.container {
  max-width: 1080px;
  margin: 0 auto;
}

.w-80 {
  width: 80%;
}
.text-gray {
  color: #808080;
}

.text-small {
  font-size: 13px;
}

ul {
  padding-inline-start: 0;
  list-style-position: inside;
}

a {
  text-decoration: none;
  color: #3293cf;
}
/* Header */
#main-header {
  height: 100px;
  background-color: #4ea0ff;
  background-image: url("../img/pattern.png");
  background-size: 32%;
}

#logo {
  height: 55px;
  margin-top: 34px;
}

h1 {
  font-size: 39px;
  margin-bottom: 0;
}

address {
  font-style: normal;
  font-size: 19px;
}

/* article pictures */
figure {
  margin: 20px 0;
}
/* tabelle */

th {
  text-align: left;
  background-color: #1faae4;
  color: #fff;
}

tr {
  background-color: rgb(177 230 242);
}

table {
  border-collapse: collapse;
}

.even {
  background-color: #fff;
}

/* related articles */

#pc {
  color: #fff;
  width: 200px;
  height: 150px;
  background-image: url("../img/monitor.jpg");
  background-position: center;
  background-size: cover;
  margin-bottom: 10px;
  padding: 10px;
}

#graph {
  color: #fff;
  width: 200px;
  height: 150px;
  background-image: url("../img/graph.jpg");
  background-position: center;
  background-size: cover;
  margin-bottom: 10px;
  padding: 10px;
}

.related-article-title {
  margin: 0;
  font-size: 1.2rem;
}

h3 {
  color: #808080;
}
