/* utili */
body {
  margin: 0;
}
.container {
  max-width: 1080px;
  margin: 0 auto;
}

.text-gray {
  color: #808080;
}

.text small {
  font-size: 13px;
}

a {
  text-decoration: none;
  color: #3293cf;
}
/* Header */
#main-header {
  height: 100px;
  background-color: #4ea0ff;
  background-image: url("../img/pattern.png");
  background-size: 32%;
}

#logo {
  height: 55px;
  margin-top: 34px;
}

h1 {
  font-size: 39px;
  margin-bottom: 0;
}

address {
  font-style: normal;
  font-size: 19px;
}
